.footer {
    width: 1510px;
    height: 164px;
    background-color: black;
    padding-top: 35px;
    padding-bottom: 27px;
    box-sizing: border-box;
    margin: 0 auto;
}

.footer__icon {
    width: 570px;
    height: 53px;
    margin-top: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.footer__text {
    height: 21px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;    
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}