body .container-tab {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.nav__tab-one {
    display: inline-block;
    width: 203px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid hidden solid;
    border-color: #C6CBCD;
    border-radius: 5px 5px 0 0 ;
    text-align: center;
    line-height: 40px;    
}
.nav__tab-line {
    border-top: 1px solid #C6CBCD;
    margin-left: 203px;
}
.nav__tab-next {
    display: inline-block;
    width: 184px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    line-height: 40px;
}

.container__liberty {
    max-width: 1170px;
    max-height: 500px;
    border-width: 0px 1px 1px 1px;
    border-style: none solid solid solid;
    border-color: #C6CBCD;
    display: flex;
    justify-content: space-between;
} 

.container__liberty__left {
    max-width: 700px;
    max-height: 500px;
    vertical-align: top; 
}
.container__liberty__img {
    max-width: 470px;
    max-height: 500px;

}

.container__liberty__header {
    max-width: 570px;
    max-height: 124px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 0;
    line-height: 124px;
}

.container__liberty__text {
    max-width: 570px;
    max-height: 210px;
    margin-left: 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.container__liberty__button {
    border: none;
    width: 270px;
    height: 58px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #EC7979;
    margin-left: 100px;
    margin-top: 40px;
}

@media screen and (max-width: 1510px) {
    body .container-tab {
        max-width: 992px;
    }
    .nav__tab-one {
        display: inline-block;
        width: 184px;
    }
    .nav__tab-line {
        border-top: 1px solid #C6CBCD;
        margin-left: 185px;
    }
    .nav__tab-next {
        width: 156px;
    }
    
    .container__liberty {
        max-width: 992px;
        max-height: 385px;
    } 
    
    .container__liberty__left {
        max-width: 594px;
        max-height: 35px;
    }
    .container__liberty__img {
        max-width: 398px;
        max-height: 385px;
    }
    .container__liberty__img img {
        height: 385px;       
    }
    
    .container__liberty__header {
        max-width: 483px;
        max-height: 89px;
        font-size: 24px;
        margin-left: 85px;
        margin-top: 0;
        line-height: 89px;
    }
    
    .container__liberty__text {
        max-width: 483px;
        max-height: 112px;
        margin-left: 85px;
        font-size: 14px;
        margin-bottom: 38px;
    }
    .container__liberty__button {
        width: 232px;
    }
}

@media screen and (max-width: 950px) {
    body .container-tab {
        max-width: 950px;
        padding: 0 5px;
    }
    .nav__tab-one {
        display: inline-block;
        width: 95px;
        margin: 0;
    }
    .nav__tab-line {
        margin-left: 96px;
    }
    .nav__tab-next {
        width: 90px;
        margin: 0;
    }
    
    .container__liberty {
        max-width: 950px;
        max-height: 431px;
    } 
    
    .container__liberty__left {
        max-width: 950px;
        max-height: 431px;
    }
    .container__liberty__img {
        display: none;
    
    }
    
    .container__liberty__header {
        max-width: 950px;
        max-height: 112px;
        font-size: 18px;
        text-align: center;
        margin-left: 0;
        margin-top: 0;
        line-height: 50px;
    }
    
    .container__liberty__text {
        max-width: 900px;
        max-height: 180px;
        margin: 0 20px ;
        font-size: 13px;
    }
    .container__liberty__button {
        width: 240px;
        height: 50px;
        display: block;
        margin: 30px auto 30px auto ;

    }
    
}