.container-stylish {
    margin: 0 auto;
    height: 442px;
    background-image: url(../image/bgImageStilish.jpg);
    background-size: cover;
}
.stylish {
    height: 442px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.stylish-content {
    margin: 0 auto;
    max-width: 1170px;
    height: 342px;
}
.stylish-content__h2 {
    max-width: 1170px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
    margin: 0;
}
.stylish-content-line {
    border-top: 1px solid #FFFFFF;
    width: 170px;
    margin: 0 auto;
}
.stylish-content-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 40px 0px 73px 0px;
}

.stylish-content__button {
    width: 370px;
    height: 58px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 1510px) {
    .container-stylish {
        height: 358px;
    }
    .stylish {
        height: 358px;
    }
    .stylish-content {
        max-width: 900px;
        height: 258px;
    }
    .stylish-content__h2 {
        max-width: 900px;
        height: 120px;
        line-height: 20px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .stylish-content-line {
        width: 142px;
    }
    .stylish-content-text {
        font-size: 14px;
        margin: 32px 0px;
    }
    
    .stylish-content__button {
        width: 318px;
        height: 58px;
    }
}

@media screen and (max-width: 950px) {
    .container-stylish {
        height: 358px;
    }
    .stylish {
        height: 358px;
    }
    .stylish-content {
        margin: 0 auto;
        max-width: 900px;
        height: 300px;
    }
    .stylish-content__h2 {
        max-width: 900px;
        height: 120px;
        line-height: 20px;
        font-size: 24px;
    }
    .stylish-content-line {
        width: 134px;
    }
    .stylish-content-text {
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
        margin: 16px 0px 66px 0px;
    }
    
    .stylish-content__button {
        width: 287px;
        height: 50px;
    }
    
}