.pricing {
    height: 900px;
    background-color: #F5F5F5;
    text-align: center;
    margin-top: 58px;
    margin: 0 auto;
}
.pricing__h1 {
    max-width: 1170px;
    height: 150px;
    margin: 0 auto;
    text-transform: uppercase;
}
.pricing-h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 150px;
    margin-bottom: 0;
}
.pricing__hr {
    border: none;
    width: 170px;
    color: #EC7979;
    background-color: #EC7979;
    height: 1px;
    margin: 0 auto;
}
.pricing__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin: 40px 0 59px 0;
}
.container__pricing__card {
    height: 530px;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.pricing__card {
    width: 370px;
    height: 510px;
    align-self: flex-end;
    transition-duration: 1s;
}
.pricing__card:hover{
    transform: scale(1.2);
}
.pricing__card__head {
    height: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing__card__price {
    background-color: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.pricing__card__footer {
    height: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
    border: 2px solid #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing__card__item {
    height: 50px;
    background-color: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-item-two{
    align-self: flex-start;
    -webkit-box-shadow: -8px 43px 4px 1px rgba(34, 60, 80, 0.33);
-moz-box-shadow: -8px 43px 4px 1px rgba(34, 60, 80, 0.33);
box-shadow: -8px 43px 4px 1px rgba(34, 60, 80, 0.33);
}

@media screen and (max-width: 1510px) {
    .pricing {
        height: 770px;
    }
    .pricing__h1 {
        max-width: 950px;
        height: 120px;
    }
    .pricing-h1 {
        font-size: 24px;
        line-height: 120px;
    }
    .pricing__hr {
        width: 143px;
    }
    .pricing__text {
        font-size: 14px;
        margin: 32px 0;
    }
    .container__pricing__card {
        height: 470px;
        max-width: 950px;
        margin-bottom: 100px;
    }
    .pricing__card {
        width: 300px;
        height: 452px;
    }
    .pricing__card__head {
        height: 53px;
    }
    .pricing__card__price {
        height: 88px;
    }
    .pricing__card__footer {
        height: 44px;
    }
    .pricing__card__item {
        height: 44px;
    }
}

@media screen and (max-width: 950px) {
    .pricing {
        height: 1600px;
    }
    .pricing__h1 {
        max-width: 288px;
        height: 120px;
    }
    .pricing-h1 {
        font-size: 24px;
        line-height: 120px;
    }
    .pricing__hr {
        width: 134px;
    }
    .pricing__text {
        font-size: 14px;
    }
    .container__pricing__card {
        height: 1350px;
        max-width: 900px;
        display: flex;
        flex-direction: column;
    }
    .pricing__card {
        margin: 20px auto;
        width: 288px;
        height: 400px;
    }
    .pricing__card__head {
        height: 44px;
        font-size: 18px;
    }
    .pricing__card__price {
        font-size: 24px;
        height: 75px;
    }
    .pricing__card__footer {
        height: 35px;
        font-size: 14px;
    }
    .pricing__card__item {
        height: 35px;
        font-size: 14px;
    }
    .price-item-two{
        box-shadow: none;
    }
}
