.container-awesome {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.container-awesome__h1 {
    max-width: 1170px;
    height: 150px;
    margin-bottom: 0;
}
.container-awesome-h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 150px;
    margin-bottom: 0;
}
.container-awesome__hr {
    border: none;
    width: 170px;
    color: #EC7979;
    background-color: #EC7979;
    height: 1px;
    margin: 0 auto;
}

.container-awesome__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    margin: 40px 0 0 0;
}

.container-awesome__card__list {
    width: 370px;
    height: 383px;
    margin-top: 71px;
    display: inline-block;
}
.container-awesome__card {
    display: flex;
    justify-content: space-between;
}

.container-awesome__header {
    width: 370px;
    height: 100px;
    line-height: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100px;
    margin: 0;
}
.container-awesome__card__list .container-awesome__text {
    color: black;
    margin-top: 8px;
}

@media screen and (max-width: 1510px) {
    .container-awesome {
        max-width: 992px;
    }
    
    .container-awesome__h1 {
        max-width: 992px;
        height: 120px;
    }
    .container-awesome-h1 {
        font-size: 24px;
        line-height: 120px;
    }
    .container-awesome__hr {
        width: 142px;
    }
    
    .container-awesome__text {
        font-size: 14px;
    }
    
    .container-awesome__card__list {
        width: 305px;
        height: 284px;
        margin: 65px 0 0 0 ;
    }
    .container-awesome__card__list img {
        width: 80px;
    }
    .container-awesome__header {
        width: 305px;
        height: 82px;
        line-height: 82px;
        font-size: 18px;
        line-height: 82px;
    }
}

@media screen and (max-width: 950px) {
    .container-awesome {
        max-width: 900px;
    }
    
    .container-awesome__h1 {
        max-width: 900px;
        height: 120px;
    }
    .container-awesome-h1 {
        font-size: 18px;
        line-height: 120px;
    }
    .container-awesome__hr {
        width: 134px;
    }
    
    .container-awesome__text {
        font-size: 13px;
    }
    
    .container-awesome__card__list {
        width: 288px;
        height: 270px;
        display:block;
        margin: 0 auto;
        margin-top: 50px;
    }
    .container-awesome__card__list img {
        margin-bottom: -30px;
    }
    .container-awesome__card {
        display: block;

    }
    
    .container-awesome__header {
        width: 288px;
        height: 100px;
        line-height: 100px;
        font-size: 18px;
        margin: 0;
    }
    .container-awesome__card__list .container-awesome__text {
        color: black;
        margin-top: 8px;
    }
    
}